body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 1em;
    font-size: 1.5em;
}

label {
    display: block;
    margin: 0.5em 0 0.2em;
    text-align: left;
}

input {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 0.8em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 1em;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 1em;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.divider {
    border: none; 
    height: 1px; 
    background-color: #ccc; 
    margin: 20px 0;
}
.Ldivider {
    border: none; 
    height: 1px; 
    background-color: #ccc; 
    margin: 20px 0;
}